/*CSS Reset*/

*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Font*/

body {font-family: 'Open Sans', sans-serif;}

/*Navigator bar*/
/*1rem = 16px (default font size)*/

nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*margin vs padding*/
/*margin is best used when create space between elements*/
/*padding is best used when creating space between element's border and its content*/

nav	.nav-logo, nav .nav {
	margin: 0.5rem;
/*Change element to inline elements	*/
	display: inline;
}

#intro {
/*creates space between the contents of the intro section and its border	*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: black;
	border-radius: 25px;
	font-size: 1rem;
	color: white;
	padding: .7rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}



#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card	{
	/*allows the card to appear beside each other*/
	display: inline-block;
	/*aligns elements with the tallest element om line	*/
	vertical-align: top;
	/*used with the inline-block value	*/
	/*allows for card to have equal height that adjust with the content*/
	min-height: 175px;
	width: 30%;

	/*create horizontal spacing between cards	*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}	

#pre-footer {
	background-color: #100f42;
}

#pre-footer .wew	{
	display: inline-block;
	vertical-align: baseline;
	min-height: 100px;
	width: 15%;
	margin-left: 0.5rem;
	margin-right: 3.7rem;
	color: white;
	padding: 1rem;
	margin-top: 0.5rem;
}	

#pre-footer .waw	{
	display: inline-block;
	vertical-align: baseline;
	min-height: 100px;
	width: 350px;
	margin-left: 0.5rem;
	margin-right: 3.9rem;
	color: white;
	padding: 1rem;

}	

#pre-footer p {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

#pre-footer {
	background-color: #100f42;
}

footer {
	padding-top: 0.8rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

footer span	{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}